body {
	font-size: 18px;
	background-color: #fefefe;
	background-image: url(../img/mainbg.jpg)
}
.row {
	padding-top: 80px;
}
.logo {
	 font-weight: 800;
	 font-style: italic;	 
}
#ddd{
	height: 460px;
}

#sss {	
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: contain;	
	height: 300px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
}
@media (min-width:768px) {
	#nav-justifine {

	}
	#sss {
		background-size: cover;
	}
}