body {
	font-size: 18px;
	position: relative;
	background-color: #fefefe;
	background-image: url(../img/mainbg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;	
	background-size: auto 100%;
}
@media (min-width:1200px) {
	body{
		background-size: 100%;
	}	
}
header .row {
	padding-top: 15px;
}
.row {
	padding-top: 80px;
}
.logo {
	 font-weight: 800;
	 font-style: italic;	 
}


#sss {	
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: contain;	
	height: 300px;
	width: 100%;
	position: fixed;
	
	top: 85vh;
	bottom:15vh ;
	z-index: 1000;
}
@media (min-width:768px) {
	main {
		padding-bottom: 200px;
	}
	#sss {
		background-size: 100%;
		height: 40vh;
		background-position-y: -30px;
		bottom: 40vh;		
	}

}
@media (min-width: 1200px) {
	#sss {	
		background-size: cover;
		
		position: fixed;
		
		top: 70%;	
	}	
	figcaption {
		text-shadow: 1px 1px 3px black;
	}
}
.footer {
	padding: 40px;
	padding-bottom: 150px;
	
}
.social {
	display: flex;
	justify-content: space-between;	
	font-size: 0px;
}
.social__btn {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #e1e1e1;
}
.social__btn:hover {
	background: red;
}
.social__btn-vk {
	background-image: url(../img/vk1.png);
	background-position: top left;
	background-repeat: no-repeat;	
}
.social__btn-vk:hover {
	background-image: url(../img/vk1.png);
	background-position: center left;
	background: #red;
}
.social__btn-vk:active {
	background-image: url(../img/vk1.png);
	background-position: bottom left;
}

.social__btn-fb {
	background-image: url(../img/vk1.png) ;
	background-repeat: no-repeat;
	background-position: top center;
}
.social__btn-fb:hover {
	background-image: url(../img/vk1.png);
	background-position: center;
	background: #red;
}
.social__btn-fb:active {
	background-image: url(../img/vk1.png);
	background-position: bottom center;
}
.social__btn-tw {
	background-image: url(../img/vk1.png) ;
	background-repeat: no-repeat;
	background-position: top right;	
}
.social__btn-tw:hover {
	background-image: url(../img/vk1.png) ;
	background-repeat: no-repeat;
	background-position: center right;
	background: #red;	
}
.social__btn-tw:active {
	background-image: url(../img/vk1.png) ;
	background-repeat: no-repeat;
	background-position: bottom right;
	}	
